<div class="flex w-screen flex-wrap text-white bg-[#D34624]">
  <div
    class="relative hidden h-screen select-none flex-col justify-center bg-[url(/images/sign-in.png)] text-center md:flex md:w-1/2"
  ></div>

  <div class="flex w-full flex-col md:w-1/2">
    <div
      class="my-auto mx-auto flex flex-col justify-center px-6 pt-8 md:justify-start lg:w-[28rem]"
    >
      <div class="flex justify-start">
        <img
          src="https://stric-bank-api.s3.amazonaws.com/copyo/clients/logos/bandec/bandec-white.png"
          class="h-1/2"
          alt="bandec-white"
        />
      </div>

      <p class="text-center text-3xl font-bold md:text-left md:leading-tight">
        Bem-vindo ao internet banking da BANDEC.
      </p>
      <p class="mt-6 text-center font-medium md:text-left">
        Preencha os campos abaixo para acessar sua conta
      </p>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col items-stretch pt-3"
      >
        <!-- Campo Email -->
        <div class="flex flex-col">
          <label for="login-email" class="mb-1 text-sm font-medium text-white"
            >Email</label
          >
          <div
            class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-stone-600"
          >
            <input
              type="email"
              id="login-email"
              class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
              placeholder="Digite seu email"
              formControlName="email"
              [ngClass]="{
                'border-red-500':
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].touched
              }"
            />
          </div>

          <div
            *ngIf="
              loginForm.controls['email'].invalid &&
              loginForm.controls['email'].touched
            "
            class="text-sm text-red-600 mt-1"
          >
            <p *ngIf="loginForm.controls['email'].errors?.['required']">
              O e-mail é obrigatório.
            </p>
            <p *ngIf="loginForm.controls['email'].errors?.['email']">
              E-mail inválido.
            </p>
          </div>
        </div>

        <!-- Campo Senha -->
        <div class="mb-2 flex flex-col pt-4">
          <label
            for="login-password"
            class="mb-1 text-sm font-medium text-white"
            >Senha</label
          >
          <div
            class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-stone-600"
          >
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="login-password"
              class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
              placeholder="Mínimo 5 caracteres"
              formControlName="password"
              [ngClass]="{
                'border-red-500':
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].touched
              }"
            />
            <div
              *ngIf="
                loginForm.controls['password'].invalid &&
                loginForm.controls['password'].touched
              "
              class="text-sm text-red-600 mt-1"
            >
              <p *ngIf="loginForm.controls['password'].errors?.['required']">
                A senha é obrigatória.
              </p>
              <p *ngIf="loginForm.controls['password'].errors?.['minlength']">
                A senha deve ter pelo menos 6 caracteres.
              </p>
            </div>

            <!-- Botão de mostrar/ocultar senha -->
            <button
              type="button"
              label="teste"
              name="k"
              button-name="k"
              class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-600 hover:text-gray-800"
              (click)="showPassword = !showPassword"
            >
              <svg
                *ngIf="!showPassword"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                />
              </svg>
              <svg
                *ngIf="showPassword"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.967 9.967 0 012.341-4.107M15 12a3 3 0 11-6 0 3 3 0 016 0zm3.197-5.197A9.973 9.973 0 0121.542 12a9.978 9.978 0 01-1.357 3.76M4.22 4.22l15.56 15.56"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- Link Esqueci a Senha -->
        <div class="mb-4 text-right">
          <a
            href="/forgot-password"
            class="text-sm text-white underline hover:text-gray-200 transition"
            >Esqueci a senha</a
          >
        </div>

        <!-- Botão Entrar -->
        <!-- Botão Entrar -->
        <button
          type="submit"
          class="mt-2 w-full rounded-lg bg-stone-800 px-8 py-3 text-center text-base font-semibold text-white outline-none ring-stone-500 ring-offset-2 transition hover:bg-stone-700 focus:ring-2"
        >
          {{ isLoading ? "Carregando..." : "Entrar" }}
        </button>

        <!-- Botão Abrir Conta -->
        <a
          routerLink="/account-type"
          class="mt-4 w-full rounded-lg bg-white px-8 py-3 text-center text-base font-semibold text-stone-800 outline-none ring-white ring-offset-2 transition hover:bg-gray-100 focus:ring-2"
        >
          Abrir uma conta
        </a>
      </form>
    </div>
  </div>
</div>
