<div class="bg-[#D34624] w-full p-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div
      class="bg-[#333333] rounded-lg p-4 hover:shadow-lg transition-all duration-300 hover:translate-y-[-2px]"
    >
      <h3 class="text-gray-300 font-medium text-sm mb-2">Saldo na conta</h3>
      <p class="text-white text-2xl font-bold">R$ 0,00</p>
    </div>
    <div
      class="bg-[#333333] rounded-lg p-4 hover:shadow-lg transition-all duration-300 hover:translate-y-[-2px]"
    >
      <h3 class="text-gray-300 font-medium text-sm mb-2">
        Rentabilidade do Mês
      </h3>
      <p class="text-white text-2xl font-bold">* * *</p>
    </div>

    <div
      class="bg-white flex rounded-lg p-4 hover:shadow-lg transition-all duration-300 hover:translate-y-[-2px]"
    >
      <h3 class="text-[#333333] font-medium text-sm mb-2">Boletos em aberto</h3>
      <p class="text-[#333333] text-2xl font-bold">* * *</p>
    </div>

    <div
      class="bg-[#333333] rounded-lg p-4 hover:shadow-lg transition-all duration-300 hover:translate-y-[-2px]"
    >
      <h3 class="text-white font-medium">Frederico Neves</h3>
      <p class="text-gray-300 text-sm">688.322.226-04</p>
      <p class="text-gray-300 text-sm">
        Banco BANDEC: <span class="font-semibold">BANDEC</span>
      </p>
      <p class="text-gray-300 text-sm">
        Agência: <span class="font-semibold">001</span>
      </p>
      <p class="text-gray-300 text-sm">
        Conta: <span class="font-semibold">8056760</span>
      </p>
    </div>
  </div>
</div>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>

<main class="pl-10 px-4 py-10">7123</main>
