<!-- Navbar -->
<header
  class="relative flex flex-col items-center bg-white px-4 py-4 shadow sm:flex-row md:h-20"
>
  <div class="flex w-full flex-col justify-between sm:flex-row sm:items-center">
    <!-- Título da plataforma -->
    <div
      class="ml-4 flex items-center space-x-2 text-xl font-semibold text-blue-700"
    >
      <span class="material-symbols-outlined text-gray-600 text-base">{{ pageIcon }}</span>
      <span class="text-gray-800">{{ pageTitle }}</span>
    </div>
    

    <ul class="mt-4 flex items-center space-x-4 sm:mt-0">
      <li>
        <button
          class="flex h-9 w-9 items-center justify-center rounded-full border text-gray-600 hover:text-black hover:shadow"
        >
          <span class="material-symbols-outlined">account_circle</span>
        </button>
      </li>
      <li>
        <button
          class="flex h-9 w-9 items-center justify-center rounded-full border text-gray-600 hover:text-black hover:shadow"
        >
          <span class="material-symbols-outlined">settings</span>
        </button>
      </li>
      <li>
        <button
          class="flex h-9 w-9 items-center justify-center rounded-full border text-gray-600 hover:text-black hover:shadow"
        >
          <span class="material-symbols-outlined">logout</span>
        </button>
      </li>
    </ul>
  </div>
</header>
