<aside class="fixed z-50 md:relative">
  <input
    type="checkbox"
    class="peer hidden"
    id="sidebar-open"
    aria-label="sidebar-open"
    label="sidebar-open"
  />
  <label
    class="peer-checked:rounded-full peer-checked:p-2 peer-checked:right-6 peer-checked:bg-gray-600 peer-checked:text-white absolute top-8 z-20 mx-4 cursor-pointer md:hidden"
    for="sidebar-open"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </label>

  <nav
    aria-label="Sidebar Navigation"
    class="peer-checked:w-64 left-0 z-10 flex h-screen w-0 flex-col overflow-hidden bg-[#D34624] text-white transition-all md:h-screen md:w-64 lg:w-72"
  >
    <div
      class="bg-[#933119] py-4 pl-10 flex flex-col items-center px-4 shadow sm:flex-row md:h-20"
    >
      <img
        class="w-1/2"
        src="https://stric-bank-api.s3.amazonaws.com/copyo/clients/logos/bandec/bandec-white.png"
        alt="logo"
      />
    </div>

    <app-balance-display />

    
      <div
        class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
      >
        <span class="material-symbols-outlined stroke-1 mr-3">home</span>
        <span class="font-medium">Início</span>
      </div>
      <div
        class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
      >
        <span class="material-symbols-outlined stroke-2 mr-3">description</span>
        <span class="font-medium">Extrato</span>
      </div>
      <details class="group mt-2" open="">
        <summary
          class="flex items-center justify-between px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
        >
          <div class="flex items-center">
            <span class="font-medium">Serviços Bancários</span>
          </div>
          <span
            class="material-symbols-outlined transform group-open:rotate-180 transition-transform"
          >
            expand_more
          </span>
        </summary>
        <div class="ml-6 mt-1">
          <div
            class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
          >
            <span class="material-symbols-outlined mr-3"
              >account_balance_wallet</span
            >
            <span class="font-medium">Depositar</span>
          </div>
          <div
            class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
          >
            <span class="material-symbols-outlined mr-3"
              >currency_exchange</span
            >
            <span class="font-medium">PIX</span>
          </div>
          <div
            class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
          >
            <span class="material-symbols-outlined mr-3">receipt_long</span>
            <span class="font-medium">Pagar Contas</span>
          </div>
          <div
            class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
          >
            <span class="material-symbols-outlined mr-3">send</span>
            <span class="font-medium">Transferir TED/DOC</span>
          </div>
        </div>
      </details>
      <details class="group mt-2" open="">
        <summary
          class="flex items-center justify-between px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
        >
          <div class="flex items-center">
            <span class="font-medium">Minha Conta</span>
          </div>
          <span
            class="material-symbols-outlined transform group-open:rotate-180 transition-transform"
          >
            expand_more
          </span>
        </summary>
        <div class="ml-6 mt-1">
          <div
            class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
          >
            <span class="material-symbols-outlined mr-3">person</span>
            <span class="font-medium">Minha Conta</span>
          </div>
          <div
            class="flex items-center px-6 py-2 hover:bg-orange-700 transition-colors cursor-pointer rounded-lg mx-2"
          >
            <span class="material-symbols-outlined mr-3">logout</span>
            <span class="font-medium">Sair</span>
          </div>
        </div>
      </details>
      

    <!-- <ul
      class="mt-8 space-y-6 md:mt-2 px-4"
      *ngIf="false"
      *ngFor="let category of menuCategories"
    >
      <li *ngIf="category.title" class="text-sm font-bold uppercase text-gray-200 mb-2">
        {{ category.title }}
      </li>
      <ul class="space-y-2">
        <li *ngFor="let menu of category.items">
          <a
            [href]="menu.route"
            routerLinkActive="bg-slate-600"
            class="flex items-center space-x-2 rounded-md px-6 py-1 text-gray-300 hover:bg-slate-500 transition"
          >
            <span><i class="text-gray-100" [class]="menu.icon"></i></span>
            <span>{{ menu.label }}</span>
          </a>
        </li>
      </ul>
    </ul> -->
  </nav>
</aside>
